.component {
  position: absolute;
  right: 16px;
  top: 16px;
}

.modal {
  position: fixed;
  top: 56px;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--black-5);
  padding-bottom: 32px;
  overflow-y: auto;
  z-index: 1;
}
